@model PigViewModel
@{
    ViewData["Title"] = "Pig";
}

<div class="row">
    <div class="col-8">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col">Player 1: @Model.Pig.PlayerOneTotalScore</div>
                            <div class="col text-right">
                                <form asp-action="NewGame" method="post">
                                    <button type="submit" class="btn btn-outline-dark">New Game</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Player 2: @Model.Pig.PlayerTwoTotalScore</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row mb-2">
                            <div class="font-weight-bold col">Player @Model.Pig.CurrentPlayer's turn</div>
                        </div>
                        <div class="row">
                            <form asp-action="Roll" method="post">
                                <button type="submit" class="btn btn-dark mr-2 ml-2">Roll</button>
                            </form>
                            <form asp-action="Hold" method="post">
                                <button type="submit" class="btn btn-outline-dark mr-2">Hold</button>
                            </form>
                            <div class="mr-2">Die: @Model.Pig.CurrentRollScore</div>
                            <div>Total: @Model.Pig.CurrentTurnScore</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table class="table table-bordered">
            <tr>
                <td>First player to 20 wins.</td>
            </tr>
            <tr>
                <td>Players take turns rolling the die.</td>
            </tr>
            <tr>
                <td>Turn ends when player rolls a 1 or chooses to hold.</td>
            </tr>
            <tr>
                <td>If player rolls a 1, they lose all points earned during that turn.</td>
            </tr>
            <tr>
                <td>If player holds, points earned during that turn are added to their total.</td>
            </tr>
        </table>
    </div>
</div>